@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Philosopher';
    src: url(../fonts/Philosopher/Philosopher-Regular.ttf);
}

@font-face {
    font-family: 'Alegreya';
    src: url(../fonts/AlegreyaSansSC/AlegreyaSansSC-Regular.ttf);
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url(../fonts/PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Urbanist';
    src: url(../fonts/Urbanist/Urbanist-VariableFont_wght.ttf);
}

@layer base {
    html {
        font-family: 'Urbanist';
    }
}

.header-link {
    @apply relative block p-2
}

.header-link::after {
    @apply absolute bottom-0 left-0 w-full h-1 bg-white opacity-0 transition duration-300;
    content: "";
}

.header-link:hover::after,
.header-link:hover:focus {
    @apply opacity-100 -translate-y-1
}